<div id="top" class="row">
  <div class="col-md-11">SCOUT <span>Realtime</span></div>
  <div class="col-md-1"> 
    <a class="toggle" id="toggle_data" href="javascript:toggleData()" style="font-size:smaller">
      data on/off</a>
  </div>
</div>
<div class="inner_container">
  <div id="host_header" class="row"><%= ServerMetrics::SystemInfo.hostname %></div>
  <!-- overview charts -->
  <div id="overview_charts" class="row">
    <div class="col-md-3">
      <h3>CPU</h3>
      <%= erb :graph, :locals => {:chart_type => "cpu_load", :chart_instance_name => ""} %>
    </div>
    <div class="col-md-3">
      <h3>Memory</h3>
      <%= erb :graph, :locals => {:chart_type => "memory", :chart_instance_name => ""} %>
    </div>
    <div class="col-md-3">
      <h3>Disk</h3>
      <%= erb :graph, :locals => {:chart_type => "disks_utilization", :chart_instance_name => ""} %>
    </div>
    <div class="col-md-3">
      <h3>Network</h3>
      <%= erb :graph, :locals => {:chart_type => "network_bytes", :chart_instance_name => @network.first} %>
    </div>
  </div>
  
  <!-- processes -->
  <table id="processes">
    <thead>
    <tr>
      <th></th>
      <th>Count</th>
      <th>CPU %</th>
      <th>Memory</th>
    </tr>
  </thead>
  <tbody>
    <% 10.times do |i| %>
      <tr>
        <td>ruby</td>
        <td class="process" title="View Chart"><svg class="chart" data-type="count" data-instance-name="ruby_<%=i%>"></svg></td>
        <td class="process" title="View Chart"><svg class="chart" data-type="cpu" data-instance-name="ruby_<%=i%>"></svg></td>
        <td class="process" title="View Chart"><svg class="chart" data-type="memory" data-instance-name="ruby_<%=i%>"></svg></td>
      </tr>
    <% end%>
    </tbody>
  </table>
</div><!-- inner_container -->
<script src="/javascripts/application.js"></script>