<div id="header">
  <div class="content" style="padding-top: 5px">
    <img src="/images/white_logo.png" style="height:24px;vertical-align: bottom; margin-bottom:6px;">
    <span style="font-size:22px; line-height: 30px;margin-left:10px;"><%= ServerMetrics::SystemInfo.hostname %> </span>

    <a class="toggle" id="toggle_data" href="javascript:toggleData()" style="margin-top: 8px;font-size:smaller">data
      on/off</a>
  </div>
</div>

<div style="margin: 45px 0px; width:100%;">

  <table class="alpha">
    <tr>
      <td width="50px" valign=top class="icon">
        <img src="/images/cpu.png" width="60">
      </td>
      <td width="*">
        <table width="100%">
          <tr>
            <td width="50%">
              <%= erb :graph, :locals => {:chart_type => "cpu_load", :chart_instance_name => ""} %>
            </td>
            <td width="50%">
              <%= erb :graph, :locals => {:chart_type => "cpu_io_wait", :chart_instance_name => ""} %>
            </td>
          </tr>
        </table>
      </td>
    </tr>


    <tr>
      <td width="50px" valign=top  class="icon">
        <img src="/images/memory.png" width="60">
      </td>
      <td width="*">
        <table width="100%">
          <tr>
            <td width="50%">
              <%= erb :graph, :locals => {:chart_type => "memory_swap_used_percent", :chart_instance_name => ""} %>
            </td>
            <td width="50%">
              <%= erb :graph, :locals => {:chart_type => "memory", :chart_instance_name => ""} %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="50px" valign=top class="icon">
        <img src="/images/disk.png" width="60">
      </td>
      <td width="*">
        <% @disks.each do |disk| %>
        <table width="100%">
          <tr>
            <td width="50%">
              <%= erb :graph, :locals => {:chart_type => "disks_utilization", :chart_instance_name => disk} %>
            </td>
            <td width="50%">
              <%= erb :graph, :locals => {:chart_type => "disks_read_write_kbs", :chart_instance_name => disk} %>
            </td>
          </tr>
          <tr>
            <td width="50%">
              <%= erb :graph, :locals => {:chart_type => "disks_read_write", :chart_instance_name => disk} %>
            </td>
          </tr>
        </table>
        <%end%>
      </td>
    </tr>

    <tr>
      <td width="50px" valign=top class="icon">
        <img src="/images/network.png" width="60">
      </td>
      <td width="*">
        <% @network.each do |network| %>
          <table width="100%">
            <tr>
              <td width="50%">
                <%= erb :graph, :locals => {:chart_type => "network_bytes", :chart_instance_name => network} %>
              </td>
              <td width="50%">
                <%= erb :graph, :locals => {:chart_type => "network_packets", :chart_instance_name => network} %>
              </td>
            </tr>
          </table>
        <%end%>
      </td>
    </tr>

    <tr>
      <td width="50px" valign=top class="icon">
        <img src="/images/terminal.png" width="60">
      </td>
      <td width="*">

      </td>
    </tr>
  </table>

</div>


<div id="footer">
  <div class="content" style="padding-top: 10px; text-align: center">
    <%= ServerMetrics::SystemInfo.os %>&nbsp;&nbsp;&nbsp;
    <%= ServerMetrics::SystemInfo.architecture %> &nbsp;&nbsp;&nbsp;
    <%= ServerMetrics::SystemInfo.os_version %> &nbsp;&nbsp;&nbsp;
    <%= ServerMetrics::SystemInfo.num_processors %> processor(s)
  </div>
</div>

<script src="/javascripts/application.js"></script>
