<table id="main_container">
  <tbody>
<tr>
  <td id="header">
      <%= erb :header %>
  </td>
  <td id="sidebar_top" rowspan=2>
    <%= erb :sidebar %>
  </td>
</tr>
<tr>
  <td id="overview_charts">
      <%= erb :overview_charts%>
  </td>
</tr> 
<tr>
  <td id="processes_container">
    <h2><span>Top</span> Processes</h2>
    <%= erb :processes %>
  </td>
  <td id="sidebar_bottom">
    <%= erb :sidebar_bottom%>
  </td>
</tr>
</tbody>
</table>
<script src="/javascripts/application.js"></script>
