<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= ServerMetrics::SystemInfo.hostname %> &middot; Scout Realtime</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="stylesheets/styles.css?v=1.0">
  <script type="text/javascript" src="javascripts/jquery.js"></script>
  <script src="javascripts/d3.v3.min.js"></script>
  <script src="javascripts/jquery.debouncedresize.js"></script>
  <script src="javascripts/d3.linechart.js"></script>
  <script type="text/javascript" src="javascripts/handlebars-v1.1.0.js"></script>
  <script>var metrics_array=[]<%#=DATA_FOR_TESTING.to_json%>;</script>
  <script>var metrics=<%=@latest_run.to_json%>;</script>
  <script>var historical_metrics=<%=@historical_metrics.to_json%>;</script>
  <script>var meta=<%=@meta.to_json%>;</script>
</head>
  <body>
    <%=yield%>
  </body>
</html>
