<div class="info" id="hostname_info">
  <div class="value" id="hostname"><%= ServerMetrics::SystemInfo.hostname %></div>
  <div class="value" id="os_info">
    <img src="/images/linux.png" alt="Linux" height=40 valign=middle>&nbsp;&nbsp;&nbsp;
    <%= a=ServerMetrics::SystemInfo.architecture =~ /64/ ? '64-bit' : a %> &nbsp;&nbsp;&nbsp;
    <%= ServerMetrics::SystemInfo.os_version %> &nbsp;&nbsp;&nbsp;
  </div>      
</div>
<div class="info">
  <div class="value"><span><%= count=ServerMetrics::SystemInfo.num_processors %></span> <%= count > 1 ? 'processors' : 'processor'%></div>
</div>
<div class="info">
  <div class="desc">memory used</div>
  <div class="value"><span id='memory-used'></span> MB of <span id='memory-size'></span> MB</div>
</div>
<div class="info">
  <div class="desc">disk space used</div>
  <div class="value"><span id='disk-used'></span> MB of <span id='disk-size'></span> MB</div>
</div>
