<div class="info">
  <div class="value" id="hostname"><%= ServerMetrics::SystemInfo.hostname %></div>
  <div class="value">
    <%= ServerMetrics::SystemInfo.os %>&nbsp;&nbsp;&nbsp;
    <%= ServerMetrics::SystemInfo.architecture %> &nbsp;&nbsp;&nbsp;
    <%= ServerMetrics::SystemInfo.os_version %> &nbsp;&nbsp;&nbsp;
  </div>      
</div>
<div class="info">
  <div class="value"><span><%= ServerMetrics::SystemInfo.num_processors %></span> processors</div>
</div>
<div class="info">
  <div class="desc">memory used</div>
  <div class="value"><span>8 GB</span> of <span>16 GB</span></div>
</div>
<div class="info">
  <div class="desc">disk space used</div>
  <div class="value"><span>80 GB</span> of <span>160 GB</span></div>
</div>