<div class="info">
  <div class="value" id="hostname"><%= ServerMetrics::SystemInfo.hostname %></div>
  <div class="value">
    <%= ServerMetrics::SystemInfo.os %>&nbsp;&nbsp;&nbsp;
    <%= ServerMetrics::SystemInfo.architecture %> &nbsp;&nbsp;&nbsp;
    <%= ServerMetrics::SystemInfo.os_version %> &nbsp;&nbsp;&nbsp;
  </div>      
</div>
<div class="info">
  <div class="value"><span><%= ServerMetrics::SystemInfo.num_processors %></span> processors</div>
</div>
<div class="info">
  <div class="desc">memory used</div>
  <div class="value"><span id='memory-used'></span> MB of <span id='memory-available'></span> MB</div>
</div>
<div class="info">
  <div class="desc">disk space used</div>
  <div class="value"><span id='disk-used'></span> MB of <span id='disk-available'></span> MB</div>
</div>
